extends ../layouts/default
block content
  body
    nav.navbar.navbar-default.navbar-static-top
     .table-responsive
       table.table
         tr
           td 
            h2 Node.js Equity Crowdfunding platform on the blockchain
            p Existenz Home page 
           td
            .container-fluid(style='padding-top:2%;font-size:1.4em;')
             if isAlreadyLoggedin
               a(href='mycompanies') My Companies
               &nbsp&nbsp
               a(href='mywallet') My Wallet
               &nbsp&nbsp&nbsp&nbsp
             else 
               a(href='login') Login
               &nbsp&nbsp
               a(href='register') Register
            .container-fluid
             if username
              b Username: #{username}
             br
             if server_name
              i Server: #{server_name}
             br
             if private_seed
              i Current server private seed: #{private_seed}
              
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')     
     .panel.panel-default
      .panel-heading 
        h3 test Box:
      .panel-body
        h3 Colu Engine:
        h4 Get a Colu hd.wallet getPrivateSeed
        a(href='/getPrivateSeed') getPrivateSeed
        br
        if coluPrivateSeed 
          p=coluPrivateSeed 
        else
          p No private seeds yet
        br
        h4 Get a Colu hd.wallet getAdress
        a(href='/getAdress') getAdress
        br
        if colugetAdress 
          p=colugetAdress 
        else
          p No adress yet
        h4 Get a Colu hd.wallet issue.asset
        a(href='/issueAsset') Issue Assets
        br
        if coluIssueAssetResults 
          p=coluIssueAssetResults 
        else
          p No Assets yet
        h4 Get a Colu hd.wallet send.asset
        a(href='/sendAsset') Send Assets
        br
        if coluSendAssetResults 
          p=coluSendAssetResults  
        else
          p No Assets yet
    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
