html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title= title
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    // Fontaswam
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', integrity='sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU=sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==', crossorigin='anonymous')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    nav.navbar.navbar-default.navbar-static-top
     .table-responsive
       table.table
         tr
           td 
            h2 Node.js Equity Crowdfunding platform on the blockchain
            p Company Page for:
            h4 #{companyname}
           td
            .container-fluid(style='padding-top:2%;font-size:1.4em;')
             a(href='/') Go home
             &nbsp&nbsp
             a(href='/mycompanies') My Companies
             &nbsp&nbsp
             a(href='/mywallet') My Wallet
            .container-fluid
             if username
              b Username: #{username}
             br
             if adminfirstname
              i Administrator First Name: #{adminfirstname} 
             br           
             if adminfirstname
              i Administrator Last Name: #{adminlastname}
             br
             if adminemail
              i Administrator Email: #{adminemail}
              
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')     
     button.btn.btn-primary(type="button", onclick="window.location='/newasset'") Create #{companyname} Asset  
     br
     .panel.panel-default(style='margin-top:2%;')
      .panel-heading 
        if companyhdwallet
         b Company wallet adress: 
        else
         b Company wallet adress:
      .panel-body
         p #{companyhdwallet} 
     .panel.panel-default(style='margin-top:2%;')
      .panel-heading 
        if companyname
         p #{companyname} Details:
        else
         p Company Details:  
      .panel-body
        if companyname
         p Name: #{companyname}
        hr
        if description
         p Description: #{description}
        hr
        if website
         p Website: #{website}
        else
         p Website:  

     .panel.panel-default(style='margin-top:2%;')
      .panel-heading   
        b My Company asset:
      .panel-body
        p Company total worth:
        hr
        p Company unit share total:
        hr
        p Company unit share left:
        hr
        p Company unit shares value:
        hr
        p Total company's unit shares value:
        hr
        p My Company transactions history:

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='/js/utils.js')