extends ../layouts/default
block content
  body
    nav.navbar.navbar-default.navbar-static-top
     .table-responsive
       table.table
         tr
           td 
            h2 Node.js Equity Crowdfunding platform on the blockchain
            p Company Page for:
            h4 #{companyname}
           td
            .container-fluid(style='padding-top:2%;font-size:1.4em;')
             a(href='/') Go home
             &nbsp&nbsp
             a(href='/mycompanies') My Companies
             &nbsp&nbsp
             a(href='/mywallet') My Wallet
            .container-fluid
             if username
              b Username: #{username}
             br
             if adminfirstname
              i Administrator First Name: #{adminfirstname} 
             br           
             if adminfirstname
              i Administrator Last Name: #{adminlastname}
             br
             if adminemail
              i Administrator Email: #{adminemail}
              
    .container(style='font-size:1.5em;margin-left:15%;margin-right:15%;')     
     button.btn.btn-primary(type="button", onclick="window.location='/newasset'") Create #{companyname} Asset  
     br
     .panel.panel-default(style='margin-top:2%;')
      .panel-heading 
        if companyhdwallet
         b Company wallet adress: 
        else
         b Company wallet adress:
      .panel-body
         p #{companyhdwallet} 
     .panel.panel-default(style='margin-top:2%;')
      .panel-heading 
        if companyname
         p #{companyname} Details:
        else
         p Company Details:  
      .panel-body
        if companyname
         p Name: #{companyname}
        hr
        if description
         p Description: #{description}
        hr
        if website
         p Website: #{website}
        else
         p Website:  

     .panel.panel-default(style='margin-top:2%;')
      .panel-heading   
        b My Company asset:
      .panel-body
        p Company total worth:
        hr
        p Company unit share total:
        hr
        p Company unit share left:
        hr
        p Company unit shares value:
        hr
        p Total company's unit shares value:
        hr
        p My Company transactions history:

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='/js/utils.js')