html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title= title
    // Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', integrity='sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==', crossorigin='anonymous')
    // Fontaswam
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', integrity='sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU=sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==', crossorigin='anonymous')
    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
      script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
  body
    nav.navbar.navbar-default.navbar-static-top
     .table-responsive
       table.table
         tr
           td 
            h3 Node.js Equity Crowdfunding platform on the blockchain
            p My Projects Page 
           td
            .container-fluid
             a(href='/') Go back
         tr
           td 
            if username
             i=username
            br
            if server_name
             b=server_name
            br
            if private_seed
             i=private_seed
     
    .panel.panel-default
      .panel-heading 
        h3 Dev Box for My Projects:
      .panel-body
       h4 Here will go all development for my projects (user projects and all relevent info about your Existenz projects wallet)
       br
       .col-sm-6
        form#createproject(role='form', action="/createproject",method="post", style='max-width: 300px;')
          h4 Create a new project
          .form-group
            label(for='firstname') First name
            input#firstname.form-control(type='text', name="firstname", placeholder='First name')
          .form-group
            label(for='lastname') Last name
            input#lastname.form-control(type='text', name="lasttname", placeholder='Last name')
          .form-group
            label(for='email')
              | Email address 
              span(style='color:red;') *
            input#email.form-control(type='email', name="email", placeholder='Enter email')
          .form-group
            label(for='projectnamel')
              | Project Name 
              span(style='color:red;') *
            input#projectname.form-control(type='text', name="projectname", placeholder='Project Name')
          .form-group
            label(for='description')
              | Short Description 
              span(style='color:red;') *
            input#description.form-control(type='textarea', name="description", placeholder='Enter Description here')
          .form-group
            label(for='website') Website or Landing Page
            input#lastname.form-control(type='text', name="website", placeholder='Website')
          .form-group
            span.text-muted
              em
                span(style='color:red;') *
                |  Indicates required field
          button.btn.btn-default(type='submit') Create Project
          &nbsp;
          a(href='/myprojects')
            button.btn.btn-primary(type="button") Cancel
       .col-sm-6
        h4 My Project
        br
        hr
        b My projects:
        ul
          for link in projectlinks
            li
             #{link}
          else
            li No projects yet
        hr
        b My project hdwallet Adress:
        hr
        b My project asset:
        hr
        b Project total worth:
        hr
        p Project unit share total:
        hr
        p Project unit share left:
        hr
        p Project unit shares value:
        hr
        p Total project unit shares value:
        hr
        h4 My project transactions historics:

    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='/js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='/js/bootstrap.min.js')
    script(src='/js/utils.js')